$primary-color: #020203;
$secondary-color: #ff0101;
$light-gray: #fbfbfb;
$dark-gray: #74798c;

@import "./layout/navbar";
@import "./layout/side-nav";
@import "./layout/header";
@import "./utils/animations";

@import "./components/loader";
@import "./components/container";

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  font-size: 18px;
}

.main {
  width: 78%;
  height: calc(76% - 68px);
  margin: 68px 16% 0 16%;
}

// @media all and (max-width: 1242px) {
//   .container__graph__extra {
//     .extra-chart {
//       .chart-title {
//         top: 0;
//         left: 0;
//         color: red;
//       }
//     }
//   }
// }

.icon-wrapper {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  // opacity: 0.1;
  &--calory {
    background-color: rgb(255, 0, 0, 0.1);
  }
  &--protein {
    background-color: #4ab8ff1a;
  }
  &--carb {
    background-color: rgb(249, 206, 35, 0.1);
  }
  &--lipid {
    background-color: #fd51811a;
  }
}

.tab {
  display: grid;
  width: 500px;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "header header"
    "content content";

  &__header {
    grid-area: header;
    color: white;
    background-color: #020203;
    text-align: center;
    border-radius: 15px 15px 0 0;
  }
  &__content {
    width: 500px;

    .row {
      width: 100%;
      grid-area: content;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-areas: "col1 col2";

      .col1 {
        grid-area: col1;
        padding: 20px 10px;
        border: 1px solid black;
      }
      .col2 {
        grid-area: col2;
        padding: 20px 10px;
        border: 1px solid black;
      }
    }
  }
}

.key-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #020203;
  div {
    height: 100%;
    width: 100%;
  }
}

// .vertical-nav-icon {
//   &:hover {
//     fill: red;
//   }
// }
