$primary-color: #020203;
$secondary-color: #ff0101;
$light-gray: #fbfbfb;
$dark-gray: #74798c;

@import "./layout/navbar";
@import "./layout/side-nav";
@import "./layout/header";
@import "./utils/animations";

@import "./components/loader";
@import "./components/container";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
  font-size: 18px;
}

.main {
  width: 78%;
  height: calc(76% - 68px);
  margin: 68px 16% 0 16%;
}

.icon-wrapper {
  height: 5.9vh;
  width: 5.9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  &--calory {
    background-color: rgb(255, 0, 0, 0.1);
  }
  &--protein {
    background-color: #4ab8ff1a;
  }
  &--carb {
    background-color: rgb(249, 206, 35, 0.1);
  }
  &--lipid {
    background-color: #fd51811a;
  }
}

.activity-navbar__item {
  overflow: hidden;
  &:hover {
    .vertical-nav-icon {
      &--move {
        animation: cycling 2s ease-in-out infinite;
      }
      &--yoga {
        animation: yogi 1.5s ease-in-out infinite alternate;
      }
      &--strength {
        animation: dumbell-zoom 1s ease-in-out infinite alternate;
      }
    }
  }
}
