.container {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  height: 60vh;
  &__graph {
    width: 74%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__main {
      width: 100%;
      height: 31vh;
      .bar-chart {
        position: relative;
        height: 100%;
        width: 100%;

        .chart-title {
          position: absolute;
          top: 24px;
          left: 32px;
          margin: 0;
          font-size: 15px;
          z-index: 10;
          font-weight: 400;
          color: #20253a;
        }
      }
    }

    &__extra {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      .extra-chart {
        position: relative;
        width: 31%;
        height: 26vh;
        border-radius: 5%;
        overflow: hidden;
        .chart-title {
          position: absolute;
          font-size: 15px;
          font-weight: 400;
          top: 4%;
          left: 11.6%;
          color: #20253a;
          z-index: 1;
        }

        .score-message {
          position: absolute;
          width: fit-content;
          text-align: center;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 10;
          color: $dark-gray;
          line-height: 30px;
          span {
            color: black;
            font-size: 26px;
            font-weight: 700;
          }
        }
        &--curve {
          background-color: transparent;
          .chart-title {
            left: 34px;
            top: 5%;
            color: #ffffff;
            opacity: 0.3;
          }
        }
      }
    }
  }

  &__stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: calc(12vh - (3.125vh * 2));
      width: calc(17.9vw - (14vw * 2));
      padding: 3.125vh 32px;
      background-color: $light-gray;
      column-gap: 24px;
      border-radius: 5px;
      &__data {
        &__figure {
          font-size: 20px;
          font-weight: 500;
          margin: 0;
          line-height: 24px;
        }
        &__label {
          margin: 0;
          font-size: 14px;
          font-weight: 400;
          color: $dark-gray;
          line-height: 24px;
        }
      }
    }
  }
}
